[build]
  command = "npm run build"
  publish = "dist"

[dev]
  framework = "#static"

[[redirects]]
  from = "/api/*"
  to = "https://furukawa-api-production.up.railway.app/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
